DataFactory-Marshian/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataFactory-Marshian"
		},
		"AzureSynapseAnalytics1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSynapseAnalytics1'"
		},
		"ls_adlsnycpayrollgn2storacPQ_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_adlsnycpayrollgn2storacPQ'"
		},
		"ls_adlsnycpayrollgn2storacc_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adlsnycpayrollgn2storacc'"
		},
		"ls_sqldb_db_nycpayroll_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sqldb_db_nycpayroll'"
		},
		"ls_adlsnycpayrollgn2storacc_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsnycpayrollgn2storacc.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline 2021 payroll Gen 2 to SQLDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline NYCPayrollData FROM Gen 2 Storage To SQL DB",
				"activities": [
					{
						"name": "DF NYCPayrollData FROM Gen 2 stor To SQL DB",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF NYCPayrollData FROM Gen 2 stor To SQL DB",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Gen2StoreNYCPayrollData": {},
									"SQLDBNYCPayrollTable": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF NYCPayrollData FROM Gen 2 stor To SQL DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline 2021 payroll SQL DB to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline NYCPayrollData FROM SQL DB To Synapse",
				"activities": [
					{
						"name": "DF NYCPayrollData FROM SQL DB To Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF NYCPayrollData FROM SQL DB To Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SQLDBNYCPayrollTable": {},
									"SynapseNYCPayrollDataTable": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlsnycpayrollgn2storacc",
									"type": "LinkedServiceReference"
								},
								"folderPath": "payrolldata-container/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF NYCPayrollData FROM SQL DB To Synapse')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsnycpayrollgn2storacc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline Agency Master Gen 2 to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline Agency Maste FROM Gen 2 Storage To Synapse ",
				"activities": [
					{
						"name": "DF AgencyMaster FROM Gen 2 stor To Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF AgencyMaster FROM Gen 2 stor To Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Gen2StorAgencyMaster": {},
									"SynapseNYCPayrollAgencyMDTable": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlsnycpayrollgn2storacc",
									"type": "LinkedServiceReference"
								},
								"folderPath": "payrolldata-container/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF AgencyMaster FROM Gen 2 stor To Synapse')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsnycpayrollgn2storacc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline Aggregated Summary Table to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Dataflow Aggregate Data",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Dataflow Aggregate Data",
								"type": "DataFlowReference",
								"parameters": {
									"dataflow_param_fiscalyear": {
										"value": "@pipeline().parameters.dataflow_param_fiscalyear",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SQLDBNYCPayrollTable": {},
									"Gen2StorHistornycpayroll": {},
									"SynapseNYCPayrollSummaryTable": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlsnycpayrollgn2storacc",
									"type": "LinkedServiceReference"
								},
								"folderPath": "payrolldata-container/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"dataflow_param_fiscalyear": {
						"type": "int",
						"defaultValue": 2019
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Dataflow Aggregate Data')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsnycpayrollgn2storacc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline EMP Master Gen 2 to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline EMP Maste FROM Gen 2 Storage To Synapse ",
				"activities": [
					{
						"name": "DF EMPMaster FROM Gen 2 stor To Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF EMPMaster FROM Gen 2 stor To Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Gen2StorEMPMaster": {},
									"SynapseNYCPayrollEMPMDTable": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlsnycpayrollgn2storacc",
									"type": "LinkedServiceReference"
								},
								"folderPath": "payrolldata-container/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF EMPMaster FROM Gen 2 stor To Synapse')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsnycpayrollgn2storacc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline Load All Data into Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load All the data from SQL DB and Gen 2 Storage to Synapse",
				"activities": [
					{
						"name": "DF NYCPayrollData FROM SQL DB To Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF TitleMaster FROM Gen 2 stor To Synapse",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DF AgencyMaster FROM Gen 2 stor To Synapse",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DF EMPMaster FROM Gen 2 stor To Synapse",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF NYCPayrollData FROM SQL DB To Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SQLDBNYCPayrollTable": {},
									"SynapseNYCPayrollDataTable": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlsnycpayrollgn2storacc",
									"type": "LinkedServiceReference"
								},
								"folderPath": "payrolldata-container/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF AgencyMaster FROM Gen 2 stor To Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF AgencyMaster FROM Gen 2 stor To Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Gen2StorAgencyMaster": {},
									"SynapseNYCPayrollAgencyMDTable": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlsnycpayrollgn2storacc",
									"type": "LinkedServiceReference"
								},
								"folderPath": "payrolldata-container/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF EMPMaster FROM Gen 2 stor To Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF EMPMaster FROM Gen 2 stor To Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Gen2StorEMPMaster": {},
									"SynapseNYCPayrollEMPMDTable": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlsnycpayrollgn2storacc",
									"type": "LinkedServiceReference"
								},
								"folderPath": "payrolldata-container/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF TitleMaster FROM Gen 2 stor To Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF TitleMaster FROM Gen 2 stor To Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Gen2StorTitleMaster": {},
									"SynapseNYCPayrollTitleMDTable": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlsnycpayrollgn2storacc",
									"type": "LinkedServiceReference"
								},
								"folderPath": "payrolldata-container/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "PQ NYCPayrollData FROM SQL DB To Synapse",
						"type": "ExecuteWranglingDataflow",
						"dependsOn": [
							{
								"activity": "DF NYCPayrollData FROM SQL DB To Synapse",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PQ NYCPayrollData FROM SQL DB To Synapse",
								"type": "DataFlowReference",
								"datasetParameters": {
									"ds_ls_sqldb_db_nycpayroll_NYC_Payroll_Data": {},
									"UserQuerydslsAzureSynapseAnalytics1NYCPayrollData": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlsnycpayrollgn2storacPQ",
									"type": "LinkedServiceReference"
								},
								"folderPath": "payrolldata-container/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"queries": [
								{
									"queryName": "UserQuery",
									"dataflowSinks": [
										{
											"name": "UserQuerydslsAzureSynapseAnalytics1NYCPayrollData",
											"dataset": {
												"referenceName": "ds_ls_AzureSynapseAnalytics1_NYC_Payroll_Data",
												"type": "DatasetReference",
												"parameters": {}
											},
											"script": "sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tFiscalYear as integer,\n\t\tPayrollNumber as integer,\n\t\tAgencyID as string,\n\t\tAgencyName as string,\n\t\tEmployeeID as string,\n\t\tLastName as string,\n\t\tFirstName as string,\n\t\tAgencyStartDate as date,\n\t\tWorkLocationBorough as string,\n\t\tTitleCode as string,\n\t\tTitleDescription as string,\n\t\tLeaveStatusasofJune30 as string,\n\t\tBaseSalary as double,\n\t\tPayBasis as string,\n\t\tRegularHours as double,\n\t\tRegularGrossPaid as double,\n\t\tOTHours as double,\n\t\tTotalOTPaid as double,\n\t\tTotalOtherPay as double\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tallowCopyCommand: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> UserQuerydslsAzureSynapseAnalytics1NYCPayrollData"
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF NYCPayrollData FROM SQL DB To Synapse')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsnycpayrollgn2storacc')]",
				"[concat(variables('factoryId'), '/dataflows/DF AgencyMaster FROM Gen 2 stor To Synapse')]",
				"[concat(variables('factoryId'), '/dataflows/DF EMPMaster FROM Gen 2 stor To Synapse')]",
				"[concat(variables('factoryId'), '/dataflows/DF TitleMaster FROM Gen 2 stor To Synapse')]",
				"[concat(variables('factoryId'), '/dataflows/PQ NYCPayrollData FROM SQL DB To Synapse')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsnycpayrollgn2storacPQ')]",
				"[concat(variables('factoryId'), '/datasets/ds_ls_AzureSynapseAnalytics1_NYC_Payroll_Data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline Title Master Gen 2 to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline Title Maste FROM Gen 2 Storage To Synapse ",
				"activities": [
					{
						"name": "DF TitleMaster FROM Gen 2 stor To Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF TitleMaster FROM Gen 2 stor To Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Gen2StorTitleMaster": {},
									"SynapseNYCPayrollTitleMDTable": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlsnycpayrollgn2storacc",
									"type": "LinkedServiceReference"
								},
								"folderPath": "payrolldata-container/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF TitleMaster FROM Gen 2 stor To Synapse')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsnycpayrollgn2storacc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ls_AzureSynapseAnalytics1_NYC_Payroll_AGENCY_MD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "AgencyID",
						"type": "varchar"
					},
					{
						"name": "AgencyName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NYC_Payroll_AGENCY_MD"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ls_AzureSynapseAnalytics1_NYC_Payroll_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PayrollNumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AgencyID",
						"type": "varchar"
					},
					{
						"name": "AgencyName",
						"type": "varchar"
					},
					{
						"name": "EmployeeID",
						"type": "varchar"
					},
					{
						"name": "LastName",
						"type": "varchar"
					},
					{
						"name": "FirstName",
						"type": "varchar"
					},
					{
						"name": "AgencyStartDate",
						"type": "date"
					},
					{
						"name": "WorkLocationBorough",
						"type": "varchar"
					},
					{
						"name": "TitleCode",
						"type": "varchar"
					},
					{
						"name": "TitleDescription",
						"type": "varchar"
					},
					{
						"name": "LeaveStatusasofJune30",
						"type": "varchar"
					},
					{
						"name": "BaseSalary",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PayBasis",
						"type": "varchar"
					},
					{
						"name": "RegularHours",
						"type": "float",
						"precision": 15
					},
					{
						"name": "RegularGrossPaid",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OTHours",
						"type": "float",
						"precision": 15
					},
					{
						"name": "TotalOTPaid",
						"type": "float",
						"precision": 15
					},
					{
						"name": "TotalOtherPay",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NYC_Payroll_Data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ls_AzureSynapseAnalytics1_NYC_Payroll_EMP_MD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "EmployeeID",
						"type": "varchar"
					},
					{
						"name": "LastName",
						"type": "varchar"
					},
					{
						"name": "FirstName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NYC_Payroll_EMP_MD"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ls_AzureSynapseAnalytics1_NYC_Payroll_Summary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AgencyName",
						"type": "varchar"
					},
					{
						"name": "TotalPaid",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NYC_Payroll_Summary"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ls_AzureSynapseAnalytics1_NYC_Payroll_TITLE_MD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "TitleCode",
						"type": "varchar"
					},
					{
						"name": "TitleDescription",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NYC_Payroll_TITLE_MD"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ls_adlsnycpayrollgn2storacc_AgencyMaster')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlsnycpayrollgn2storacc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "AgencyMaster.csv",
						"folderPath": "dirpayrollfiles",
						"fileSystem": "payrolldata-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AgencyID",
						"type": "String"
					},
					{
						"name": "AgencyName",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsnycpayrollgn2storacc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ls_adlsnycpayrollgn2storacc_EmpMaster')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlsnycpayrollgn2storacc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "EmpMaster.csv",
						"folderPath": "dirpayrollfiles",
						"fileSystem": "payrolldata-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EmployeeID",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsnycpayrollgn2storacc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ls_adlsnycpayrollgn2storacc_TitleMaster')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlsnycpayrollgn2storacc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "TitleMaster.csv",
						"folderPath": "dirpayrollfiles",
						"fileSystem": "payrolldata-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TitleCode",
						"type": "String"
					},
					{
						"name": "TitleDescription",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsnycpayrollgn2storacc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ls_adlsnycpayrollgn2storacc_historical_nycpayroll')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlsnycpayrollgn2storacc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "nycpayroll_2020.csv",
						"folderPath": "dirhistoryfiles",
						"fileSystem": "payrolldata-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FiscalYear",
						"type": "String"
					},
					{
						"name": "PayrollNumber",
						"type": "String"
					},
					{
						"name": "AgencyID",
						"type": "String"
					},
					{
						"name": "AgencyName",
						"type": "String"
					},
					{
						"name": "EmployeeID",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "AgencyStartDate",
						"type": "String"
					},
					{
						"name": "WorkLocationBorough",
						"type": "String"
					},
					{
						"name": "TitleCode",
						"type": "String"
					},
					{
						"name": "TitleDescription",
						"type": "String"
					},
					{
						"name": "LeaveStatusasofJune30",
						"type": "String"
					},
					{
						"name": "BaseSalary",
						"type": "String"
					},
					{
						"name": "PayBasis",
						"type": "String"
					},
					{
						"name": "RegularHours",
						"type": "String"
					},
					{
						"name": "RegularGrossPaid",
						"type": "String"
					},
					{
						"name": "OTHours",
						"type": "String"
					},
					{
						"name": "TotalOTPaid",
						"type": "String"
					},
					{
						"name": "TotalOtherPay",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsnycpayrollgn2storacc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ls_adlsnycpayrollgn2storacc_nycpayroll_2021')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlsnycpayrollgn2storacc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "nycpayroll_2021.csv",
						"folderPath": "dirpayrollfiles",
						"fileSystem": "payrolldata-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FiscalYear",
						"type": "String"
					},
					{
						"name": "PayrollNumber",
						"type": "String"
					},
					{
						"name": "AgencyCode",
						"type": "String"
					},
					{
						"name": "AgencyName",
						"type": "String"
					},
					{
						"name": "EmployeeID",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "AgencyStartDate",
						"type": "String"
					},
					{
						"name": "WorkLocationBorough",
						"type": "String"
					},
					{
						"name": "TitleCode",
						"type": "String"
					},
					{
						"name": "TitleDescription",
						"type": "String"
					},
					{
						"name": "LeaveStatusasofJune30",
						"type": "String"
					},
					{
						"name": "BaseSalary",
						"type": "String"
					},
					{
						"name": "PayBasis",
						"type": "String"
					},
					{
						"name": "RegularHours",
						"type": "String"
					},
					{
						"name": "RegularGrossPaid",
						"type": "String"
					},
					{
						"name": "OTHours",
						"type": "String"
					},
					{
						"name": "TotalOTPaid",
						"type": "String"
					},
					{
						"name": "TotalOtherPay",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsnycpayrollgn2storacc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ls_sqldb_db_nycpayroll_NYC_Payroll_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb_db_nycpayroll",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PayrollNumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AgencyID",
						"type": "varchar"
					},
					{
						"name": "AgencyName",
						"type": "varchar"
					},
					{
						"name": "EmployeeID",
						"type": "varchar"
					},
					{
						"name": "LastName",
						"type": "varchar"
					},
					{
						"name": "FirstName",
						"type": "varchar"
					},
					{
						"name": "AgencyStartDate",
						"type": "date"
					},
					{
						"name": "WorkLocationBorough",
						"type": "varchar"
					},
					{
						"name": "TitleCode",
						"type": "varchar"
					},
					{
						"name": "TitleDescription",
						"type": "varchar"
					},
					{
						"name": "LeaveStatusasofJune30",
						"type": "varchar"
					},
					{
						"name": "BaseSalary",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PayBasis",
						"type": "varchar"
					},
					{
						"name": "RegularHours",
						"type": "float",
						"precision": 15
					},
					{
						"name": "RegularGrossPaid",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OTHours",
						"type": "float",
						"precision": 15
					},
					{
						"name": "TotalOTPaid",
						"type": "float",
						"precision": 15
					},
					{
						"name": "TotalOtherPay",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NYC_Payroll_Data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldb_db_nycpayroll')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalytics1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('AzureSynapseAnalytics1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adlsnycpayrollgn2storacPQ')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "PQ",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_adlsnycpayrollgn2storacPQ_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adlsnycpayrollgn2storacc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adlsnycpayrollgn2storacc_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adlsnycpayrollgn2storacc_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqldb_db_nycpayroll')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_sqldb_db_nycpayroll_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF AgencyMaster FROM Gen 2 stor To Synapse')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_ls_adlsnycpayrollgn2storacc_AgencyMaster",
								"type": "DatasetReference"
							},
							"name": "Gen2StorAgencyMaster"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_ls_AzureSynapseAnalytics1_NYC_Payroll_AGENCY_MD",
								"type": "DatasetReference"
							},
							"name": "SynapseNYCPayrollAgencyMDTable"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          AgencyID as string,",
						"          AgencyName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Gen2StorAgencyMaster",
						"Gen2StorAgencyMaster sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          AgencyID as string,",
						"          AgencyName as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          AgencyID,",
						"          AgencyName",
						"     )) ~> SynapseNYCPayrollAgencyMDTable"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_ls_adlsnycpayrollgn2storacc_AgencyMaster')]",
				"[concat(variables('factoryId'), '/datasets/ds_ls_AzureSynapseAnalytics1_NYC_Payroll_AGENCY_MD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF EMPMaster FROM Gen 2 stor To Synapse')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_ls_adlsnycpayrollgn2storacc_EmpMaster",
								"type": "DatasetReference"
							},
							"name": "Gen2StorEMPMaster"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_ls_AzureSynapseAnalytics1_NYC_Payroll_EMP_MD",
								"type": "DatasetReference"
							},
							"name": "SynapseNYCPayrollEMPMDTable"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          EmployeeID as string,",
						"          LastName as string,",
						"          FirstName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Gen2StorEMPMaster",
						"Gen2StorEMPMaster sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          EmployeeID as string,",
						"          LastName as string,",
						"          FirstName as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          EmployeeID,",
						"          LastName,",
						"          FirstName",
						"     )) ~> SynapseNYCPayrollEMPMDTable"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_ls_adlsnycpayrollgn2storacc_EmpMaster')]",
				"[concat(variables('factoryId'), '/datasets/ds_ls_AzureSynapseAnalytics1_NYC_Payroll_EMP_MD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF NYCPayrollData FROM Gen 2 stor To SQL DB')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_ls_adlsnycpayrollgn2storacc_nycpayroll_2021",
								"type": "DatasetReference"
							},
							"name": "Gen2StoreNYCPayrollData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_ls_sqldb_db_nycpayroll_NYC_Payroll_Data",
								"type": "DatasetReference"
							},
							"name": "SQLDBNYCPayrollTable"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          FiscalYear as integer,",
						"          PayrollNumber as integer,",
						"          AgencyCode as string,",
						"          AgencyName as string,",
						"          EmployeeID as string,",
						"          LastName as string,",
						"          FirstName as string,",
						"          AgencyStartDate as date 'MM/dd/yyyy',",
						"          WorkLocationBorough as string,",
						"          TitleCode as string,",
						"          TitleDescription as string,",
						"          LeaveStatusasofJune30 as string,",
						"          BaseSalary as float,",
						"          PayBasis as string,",
						"          RegularHours as float,",
						"          RegularGrossPaid as float,",
						"          OTHours as float,",
						"          TotalOTPaid as float,",
						"          TotalOtherPay as float",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Gen2StoreNYCPayrollData",
						"Gen2StoreNYCPayrollData sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          FiscalYear as integer,",
						"          PayrollNumber as integer,",
						"          AgencyID as string,",
						"          AgencyName as string,",
						"          EmployeeID as string,",
						"          LastName as string,",
						"          FirstName as string,",
						"          AgencyStartDate as date,",
						"          WorkLocationBorough as string,",
						"          TitleCode as string,",
						"          TitleDescription as string,",
						"          LeaveStatusasofJune30 as string,",
						"          BaseSalary as double,",
						"          PayBasis as string,",
						"          RegularHours as double,",
						"          RegularGrossPaid as double,",
						"          OTHours as double,",
						"          TotalOTPaid as double,",
						"          TotalOtherPay as double",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          FiscalYear,",
						"          PayrollNumber,",
						"          AgencyID = AgencyCode,",
						"          AgencyName,",
						"          EmployeeID,",
						"          LastName,",
						"          FirstName,",
						"          AgencyStartDate,",
						"          WorkLocationBorough,",
						"          TitleCode,",
						"          TitleDescription,",
						"          LeaveStatusasofJune30,",
						"          BaseSalary,",
						"          PayBasis,",
						"          RegularHours,",
						"          RegularGrossPaid,",
						"          OTHours,",
						"          TotalOTPaid,",
						"          TotalOtherPay",
						"     )) ~> SQLDBNYCPayrollTable"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_ls_adlsnycpayrollgn2storacc_nycpayroll_2021')]",
				"[concat(variables('factoryId'), '/datasets/ds_ls_sqldb_db_nycpayroll_NYC_Payroll_Data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF NYCPayrollData FROM SQL DB To Synapse')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_ls_sqldb_db_nycpayroll_NYC_Payroll_Data",
								"type": "DatasetReference"
							},
							"name": "SQLDBNYCPayrollTable"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_ls_AzureSynapseAnalytics1_NYC_Payroll_Data",
								"type": "DatasetReference"
							},
							"name": "SynapseNYCPayrollDataTable"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          FiscalYear as integer,",
						"          PayrollNumber as integer,",
						"          AgencyID as string,",
						"          AgencyName as string,",
						"          EmployeeID as string,",
						"          LastName as string,",
						"          FirstName as string,",
						"          AgencyStartDate as date,",
						"          WorkLocationBorough as string,",
						"          TitleCode as string,",
						"          TitleDescription as string,",
						"          LeaveStatusasofJune30 as string,",
						"          BaseSalary as double,",
						"          PayBasis as string,",
						"          RegularHours as double,",
						"          RegularGrossPaid as double,",
						"          OTHours as double,",
						"          TotalOTPaid as double,",
						"          TotalOtherPay as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SQLDBNYCPayrollTable",
						"SQLDBNYCPayrollTable sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          FiscalYear as integer,",
						"          PayrollNumber as integer,",
						"          AgencyID as string,",
						"          AgencyName as string,",
						"          EmployeeID as string,",
						"          LastName as string,",
						"          FirstName as string,",
						"          AgencyStartDate as date,",
						"          WorkLocationBorough as string,",
						"          TitleCode as string,",
						"          TitleDescription as string,",
						"          LeaveStatusasofJune30 as string,",
						"          BaseSalary as double,",
						"          PayBasis as string,",
						"          RegularHours as double,",
						"          RegularGrossPaid as double,",
						"          OTHours as double,",
						"          TotalOTPaid as double,",
						"          TotalOtherPay as double",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          FiscalYear,",
						"          PayrollNumber,",
						"          AgencyID,",
						"          AgencyName,",
						"          EmployeeID,",
						"          LastName,",
						"          FirstName,",
						"          AgencyStartDate,",
						"          WorkLocationBorough,",
						"          TitleCode,",
						"          TitleDescription,",
						"          LeaveStatusasofJune30,",
						"          BaseSalary,",
						"          PayBasis,",
						"          RegularHours,",
						"          RegularGrossPaid,",
						"          OTHours,",
						"          TotalOTPaid,",
						"          TotalOtherPay",
						"     )) ~> SynapseNYCPayrollDataTable"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_ls_sqldb_db_nycpayroll_NYC_Payroll_Data')]",
				"[concat(variables('factoryId'), '/datasets/ds_ls_AzureSynapseAnalytics1_NYC_Payroll_Data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF TitleMaster FROM Gen 2 stor To Synapse')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_ls_adlsnycpayrollgn2storacc_TitleMaster",
								"type": "DatasetReference"
							},
							"name": "Gen2StorTitleMaster"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_ls_AzureSynapseAnalytics1_NYC_Payroll_TITLE_MD",
								"type": "DatasetReference"
							},
							"name": "SynapseNYCPayrollTitleMDTable"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          TitleCode as string,",
						"          TitleDescription as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Gen2StorTitleMaster",
						"Gen2StorTitleMaster sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TitleCode as string,",
						"          TitleDescription as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          TitleCode,",
						"          TitleDescription",
						"     )) ~> SynapseNYCPayrollTitleMDTable"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_ls_adlsnycpayrollgn2storacc_TitleMaster')]",
				"[concat(variables('factoryId'), '/datasets/ds_ls_AzureSynapseAnalytics1_NYC_Payroll_TITLE_MD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow Aggregate Data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_ls_sqldb_db_nycpayroll_NYC_Payroll_Data",
								"type": "DatasetReference"
							},
							"name": "SQLDBNYCPayrollTable"
						},
						{
							"dataset": {
								"referenceName": "ds_ls_adlsnycpayrollgn2storacc_historical_nycpayroll",
								"type": "DatasetReference"
							},
							"name": "Gen2StorHistornycpayroll"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_ls_AzureSynapseAnalytics1_NYC_Payroll_Summary",
								"type": "DatasetReference"
							},
							"name": "SynapseNYCPayrollSummaryTable"
						}
					],
					"transformations": [
						{
							"name": "union1"
						},
						{
							"name": "Filter1FiscalYearlevelParameter"
						},
						{
							"name": "TotalPaid"
						},
						{
							"name": "Groupedby"
						}
					],
					"scriptLines": [
						"parameters{",
						"     dataflow_param_fiscalyear as integer",
						"}",
						"source(output(",
						"          FiscalYear as integer,",
						"          PayrollNumber as integer,",
						"          AgencyID as string,",
						"          AgencyName as string,",
						"          EmployeeID as string,",
						"          LastName as string,",
						"          FirstName as string,",
						"          AgencyStartDate as date,",
						"          WorkLocationBorough as string,",
						"          TitleCode as string,",
						"          TitleDescription as string,",
						"          LeaveStatusasofJune30 as string,",
						"          BaseSalary as double,",
						"          PayBasis as string,",
						"          RegularHours as double,",
						"          RegularGrossPaid as double,",
						"          OTHours as double,",
						"          TotalOTPaid as double,",
						"          TotalOtherPay as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SQLDBNYCPayrollTable",
						"source(output(",
						"          FiscalYear as integer,",
						"          PayrollNumber as integer,",
						"          AgencyID as string,",
						"          AgencyName as string,",
						"          EmployeeID as string,",
						"          LastName as string,",
						"          FirstName as string,",
						"          AgencyStartDate as date 'MM/dd/yyyy',",
						"          WorkLocationBorough as string,",
						"          TitleCode as string,",
						"          TitleDescription as string,",
						"          LeaveStatusasofJune30 as string,",
						"          BaseSalary as float,",
						"          PayBasis as string,",
						"          RegularHours as float,",
						"          RegularGrossPaid as float,",
						"          OTHours as float,",
						"          TotalOTPaid as float,",
						"          TotalOtherPay as float",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Gen2StorHistornycpayroll",
						"SQLDBNYCPayrollTable, Gen2StorHistornycpayroll union(byName: true)~> union1",
						"union1 filter(toInteger(FiscalYear) >= $dataflow_param_fiscalyear) ~> Filter1FiscalYearlevelParameter",
						"Filter1FiscalYearlevelParameter derive(TotalPaid = RegularGrossPaid + TotalOTPaid+TotalOtherPay) ~> TotalPaid",
						"TotalPaid aggregate(groupBy(AgencyName,",
						"          FiscalYear),",
						"     TotalPaid = sum(TotalPaid)) ~> Groupedby",
						"Groupedby sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          FiscalYear as integer,",
						"          AgencyName as string,",
						"          TotalPaid as double",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          FiscalYear,",
						"          AgencyName,",
						"          TotalPaid",
						"     )) ~> SynapseNYCPayrollSummaryTable"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_ls_sqldb_db_nycpayroll_NYC_Payroll_Data')]",
				"[concat(variables('factoryId'), '/datasets/ds_ls_adlsnycpayrollgn2storacc_historical_nycpayroll')]",
				"[concat(variables('factoryId'), '/datasets/ds_ls_AzureSynapseAnalytics1_NYC_Payroll_Summary')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PQ NYCPayrollData FROM SQL DB To Synapse')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "ds_ls_sqldb_db_nycpayroll_NYC_Payroll_Data",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ds_ls_sqldb_db_nycpayroll_NYC_Payroll_Data",
							"dataset": {
								"referenceName": "ds_ls_sqldb_db_nycpayroll_NYC_Payroll_Data",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared ds_ls_sqldb_db_nycpayroll_NYC_Payroll_Data = let AdfDoc = Sql.Database(\"salservermarshian.database.windows.net\", \"db_nycpayroll\", [CreateNavigationProperties = false]), InputTable = AdfDoc{[Schema=\"dbo\",Item=\"NYC_Payroll_Data\"]}[Data] in InputTable;\r\nshared UserQuery = let Source = #\"ds_ls_sqldb_db_nycpayroll_NYC_Payroll_Data\" in Source;\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_ls_sqldb_db_nycpayroll_NYC_Payroll_Data')]"
			]
		}
	]
}